.square {
    border: 1px solid grey;
    background-color: white;
    display: inline-block;
    box-sizing: border-box;
    grid-area: square;
}

#grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}