.pathfinder-ability-scores-row {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid black;
}

.pathfinder-ability-scores {
  width: 30%;
  border: none;
  background: transparent;
  font-size: large;
  padding: 0;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.pathfinder-ability-scores-mod {
  font-size: large;
  width: 35%;
  text-align: center;
}

.pathfinder-ability-scores-name {
  font-size: large;
  width: 32%;
  margin-left: 3%;
}